@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Changa+One:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.cont-pagina-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121213;
  color: white;
  min-height: 100vh;
  padding: 20px;

  position: relative; 
  overflow-x: hidden;
}



.home-seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  margin-top: 40px;
}

header, 
.home-seccion {
  position: relative;
  z-index: 1;
}

.home-cont-cuadrilla {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.home-fila {
  display: flex;
  gap: 5px;
}

/* Teclado */
.home-teclado {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 30px;
}

.teclado-fila {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.tecla {
  
  width: 45px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: #818384;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
}

.tecla-especial {
  width: 72px;
}

/* Colores de estado */
.verde { background-color: #6abd63 !important; color: white !important; border-color: #69b462 !important; }
.amarillo { background-color: #dbc14d !important; color: white !important; border-color: #d3b946 !important; }
.gris { background-color: #adadad !important; color: white !important; border-color: #a9a9ad !important; }
.gris-oscuro { background-color: #424242 !important; color: #818181 !important; }

.home-footer-juego {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Para que quede atrás de todo */
    
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.829);

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    font-family: "Montserrat", sans-serif;

    transition: .3s;

    
    
}
    


.home-mensaje {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 800;
}

.btn-reinicio {
  padding: 10px 20px;
  width: 30%;
  height: 50px;
  background-color: #538d4e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;

  font-size: 20px;
  font-weight: 600;
}

.btn-reinicio:hover {
  background-color: #72d469;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción sin estirar */
  z-index: 0;       /* Lo manda al fondo */
  pointer-events: none; /* TRUCO CLAVE: permite que los clics pasen a través del video y lleguen a los botones */
}


@media (max-width: 590px) {
  
    .tecla{

      width: 35px;
    }

    .btn-reinicio{
      width: 50%;
    }
}

@media (max-width: 430px) {

    .tecla{
      width: 33px;
    }
    .tecla-especial{
      width:55px;
      font-size: 10px;
    }
}