.componente-cont-letra{
    height: 60px;
    width: 60px;

    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 35px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
   
    background-color: white;
    border: 2px solid gainsboro;
}

@media (max-width: 430px) {

    .componente-cont-letra{
        width: 50px;
        height: 50px;
    }
}




