@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Changa+One:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.componente-header{
    background-color: rgb(157, 208, 219);

    height: 80px;
    width: 80%;
    padding: 15px;
    border-radius: 20px;
    border: 3px solid rgb(134, 208, 226);

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);

    position: relative;
    z-index: 1;

}
.componente-header-cont-imagen{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.componente-header-cont-imagen img{
    height: 30px;
    width: 30px;
}
.componenete-header-cont-titulo{
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 800;
}
.componenete-header-cont-usuario{
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
