#root{
  height: 100%;
  width: 100%;
  margin: 0px;
  

  justify-content: center;
}

html{
  height: 100%;
  width: 100%;
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0px;
}

#app-contenedor-principal{
  height: 100%;
  width: 100%;
}